@model IndexVM

@{
    ViewBag.Title = "Bands List";
}

<h2>Bands</h2>
<ul>
    @foreach (var band in Model.BandVMs)
    {
        <li>
            <a asp-controller="Bands" asp-action="Details" asp-route-id="@band.Id">@band.Name</a>
        </li>
    }
</ul>